{% extends "base.html" %}

{% block content %}
<div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-4">
 			
                <div class="card">
                  <div class="card-header">
                    <h6 class="text-uppercase mb-0">{{model.date}}</h6>
                    <a class="btn btn-primary" style="float: right;" href="{% url 'app1:edit_attendance' my_id=model.id %}">Edit</a>
					<a class="btn btn-danger" style="float: right;margin-right: 5px;" href="{% url 'app1:delete_attendance' my_id=model.id %}">Delete</a>
                  </div>
                  <div class="card-body">
                  	<div style="overflow-x:auto;">
                   <table class="table table-striped" id="nopad" style="margin-top: 10px;">
					<tr>
						<th>Roll</th>
						<th>Name</th>
						<th>A/P</th>	
					</tr>
					<tr>
						<td id="nopad">
							<table>{% for stud in student %}<tr id="nopad"><th>{{stud.roll}}</th></tr>{% endfor %}</table>
						</td>
						<td id="nopad">
							<table>{% for stud in student %}<tr id="nopad"><td>{{stud.name}}</td></tr>{% endfor %}</table>
						</td>
						<td id="nopad">
							<table>{% for stud in presenty %}<tr id="nopad"><td>{{stud}}</td></tr>{% endfor %}</table>
						</td>
						
					</tr>
				</table>

                </div>
                  </div>
                </div>

              </div></div></section></div>


{% endblock %}