{% extends "base.html" %}

{% block content %}
<div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-4">
      
                <div class="card">         
                  <div class="card-header">
                    <h2 class="h6 mb-0 text-uppercase"> Name:{{obj.name}}</h2>
                  </div>
                  <div class="card-body">
                    {% for lect in lecture %}
                      {{lect.lect}}<br>
                    <div class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{lect.per}}%">
                    {{lect.per}}
                  </div>
                </div> 
                  {% endfor %}
                  {{instance}}
                  </div>
                </div>
              </div>
          </div>
      </section>
  </div>
</div>


{% endblock %}