<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JavaScript Quiz</title>
    
    <!-- style.css -->
    <link rel="stylesheet" href="{% static 'JavaScriptQUiz/dist/css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="welcome_text">
            <form action="{% url 'quizzes:quiz_back' my_id=q.slug %}" class="welcome_form" name="welcome_form">
                <input type="text" name="name" value={{request.user.username}} disabled>
                <input type="hidden" name="quiz" value={{q.slug}}>
                <button type="submit">Start Quiz</button>
            </form>
        </div>
    </div>

    <script src="{% static 'JavaScriptQUiz/dist/js/userInfo.js' %}"></script>
</body>
</html>