{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-4">
 			
                <div class="card">         
                  <div class="card-header">
                    <h2 class="h6 mb-0 text-uppercase">Quizes</h2>
                     <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right;"><i class="fas fa-plus"></i></span> Quiz
         </button>
                  </div>
                  <div class="card-body">
                    {% if success %}
                      <div class="alert alert-success" role="alert" style="margin-top: 0px;">
                        
                        {% for x in success %}
                        {{x}}<br>
                        {% endfor %}
                        
                      </div>
                      {% endif %}
                      {% if error %}
                      <div class="alert alert-danger" role="alert" style="margin-top: 0px;">
                        
                        {% for x in error %}
                        {{x}}<br>
                        {% endfor %}
                        
                      </div>
                      {% endif %}
                    <p class="text-gray mb-5" style="margin-bottom: 0px;">Place to manage your Quizzes.</p> 
                    {% for q in quiz %}
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row" style="position: relative;">
                      <div class="left d-flex align-items-center">
                        <!-- <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-dropbox"></i></div> -->
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span>{{q}}</span><span class="dot dot-sm ml-2 bg-blue"></span></h6><small class="text-gray">{{q.lecture}}</small>
                        </div>
                      </div>

                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0"  style="position: absolute; right: 0px;">
                        <table style="border:0px;">
					                	<tr>
						                	<td><a href="{% url 'quizzes:score' my_id=q.slug %}" data-toggle="tooltip" title="Scores"><img src="{% static 'icons/score.png' %}" style="height:30px;"></a> </td>
						                	<td><a href="{% url 'quizzes:quiz_view' my_id=q.slug %}"  data-toggle="tooltip" title="Detail"><img src="{% static 'icons/detail.png' %}" style="height:25px;"></a> </td>
					                	</tr>
						            </table>
                      </div>

                    </div>
                    {% endfor %}
                    {% for q in quiz_e %}
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row" style="position: relative;">
                      <div class="left d-flex align-items-center">
                        <!-- <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-dropbox"></i></div> -->
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span>{{q}}(expired)</span><span class="dot dot-sm ml-2 bg-red"></span></h6><small class="text-gray">{{q.lecture}}</small>
                        </div>
                      </div>
                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0" style="position: absolute; right: 0px;">
                        <table style="border:0px;">
                        <tr>
                          <td><a href="{% url 'quizzes:score' my_id=q.slug %}" data-toggle="tooltip" title="Scores"><img src="{% static 'icons/score.png' %}" style="height:30px;"></a> </td>
						              <td><a href="{% url 'quizzes:quiz_view' my_id=q.slug %}"  data-toggle="tooltip" title="Detail"><img src="{% static 'icons/detail.png' %}" style="height:25px;"></a> </td>
					                	  
                        </tr>
                        </table>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
          </div>
      </section>
  </div>
</div>


<style>
  #id_description{
    height:80px;
  }
</style>
<script>
  $(document).ready(function(){ 
      $("#myTab a").click(function(e){
          e.preventDefault();
          $(this).tab('show');
      });
  });
</script>

	


		  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Add Quiz</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        

        

        <div class="modal-body">
          <!-- tabs -->
          <ul id="myTab" class="nav nav-tabs">
            <li class="nav-item">
                <a href="#home" class="nav-link active">Create New</a>
            </li>
            <li class="nav-item">
                <a href="#profile" class="nav-link">Import Existing</a>
            </li>
        </ul>

          <!-- tabcontent -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="home" style="background-color: white;">
              <form method="POST" style="margin-top: 5px;">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <div style="float: right;">
                  <input class="btn btn-success"type="submit" value="Create">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
              </form>
                
            </div>
            <div class="tab-pane fade" id="profile" style="background-color: white;">
              <form method="POST" class="form-group" style="margin-top: 5px;">
                {% csrf_token %}      
                <input type="text" class="form-control" placeholder="Share ID" name="share_id" required>
                <label for="Name">Name:</label>
                <input type="text" class="form-control" placeholder="Name" name="Name" required>
                <label for="lecture" style="margin-top: 4px;">Lecture:</label>
                <select class="form-control" name="lecture" id="lecture" required>
                  {% for x in lecture %}
                  <option value="{{x.id}}">{{x}}</option>
                  {% endfor %}
                  
                </select>
                <div style="float: right; margin-top: 5px;" >
                <input type="submit" class="btn btn-success" value="Import">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              </form>
              
              
            </div>
            <div class="tab-pane fade" id="messages">
                <h4 class="mt-2">Messages tab content</h4>
                <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit. Donec at erat magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum laoreet. Mauris et ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus imperdiet. Cum sociis natoque penatibus et magnis.</p>
            </div>
        </div>
         

        
				
			

        </div>
        

       

      </div>
      
    </div>
  </div>

</div> 
	
	


{% endblock %}