{% extends "base.html" %}

{% block contenty %}
<div class="jumbotron">
	<div class="container">
		<h2>Register</h2>
		<form action="." method="POST" action=".">
			{% csrf_token %}
			{% for field in registeration_form %}
			 <p>
			 	{{field.label_tag}}
			 	{{field}}
			 	{% if field.help_text %}
			 	<small style="color: grey">{{field.help_text}}</small>
			 	{% endif %}
			 	{% for error in field.errors %}
			 	<small style="color: red">{{field.help_text}}</small>
			 	{% endfor %}
			 </p>
			 {% endfor %}
			<input type="submit" value="Register">

			<p style="margin-top: 6px;">is_teacher is not a option in main build,and will require a admin to give teacher account permissions....this is for beta testing</p>
		</form>
		
	</div>
</div>

{% endblock %}