<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
   

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'register/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'register/css/style.css' %}">
</head>
<body>
    <style type="text/css">
        .formy{
            font-size: 1rem;
            line-height: 1.5;
            background-color: #fff;
            color: #000;
        }
         @media only screen and (max-width: 700px) {
          /* For mobile phones: */
          .nunny{
            display: none;
          }
    </style>

    <div class="main" style="padding: 75px 0;height: 100vh;background-image: url({% static 'register/images/back.jpg' %});">

 

              <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST"  >{% csrf_token %}
                            <div class="form-group">
                                <label for="id_username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{registeration_form.username}}   
                            </div>
                            <small>{{registeration_form.username.errors}}</small>
                            <div class="form-group">
                                <label for="id_mail"><i class="zmdi zmdi-email"></i></label>
                                {{registeration_form.email}}
                            </div>
                            <small>{{registeration_form.email.errors}}</small>
                            <div class="form-group">
                                <label for="id_password1"><i class="zmdi zmdi-lock"></i></label>
                                {{registeration_form.password1}}
                            </div>
                            <small>{{registeration_form.password1.errors}}</small>
                            <div class="form-group">
                                <label for="id_password2"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{registeration_form.password2}}                
                            </div>
                            <small>{{registeration_form.password2.errors}}</small>
                            <div class="form-group">
                                {{registeration_form.is_student}}
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>Student<br>(if you dont select this option ur account is set to teacher account,it is only development phase feature and will be required authentication by admin of site to create teacher account)</label>
                            </div>
                                
                            
                                <input type="submit" class="form-group form-button form-submit" value="Register">
                            
                        </form>
                    </div>
                    <div class="signup-image nunny">
                        <figure><img src="{% static 'register/images/signup-image.jpg' %}   " alt="sing up image"></figure>
                        <a href="{% url 'custom_user:studlogin' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>




    </div>

    
</body>
</html>