{% extends "base.html" %}

{% block content %}
<div class="page-holder w-100 d-flex flex-wrap" style="margin-bottom: 0px;">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">

              <div class="col-lg-12 mb-4">
 			
                <div class="card">
                  <div class="card-header">
                    <h6 class="text-uppercase mb-0">{{title}}</h6>
                  </div>
                  <div class="card-body" style="position: relative;">
                  	<div class="">
                  		<form class="form-group" method="POST">
						{% csrf_token %}
						{{ form }}
						<div style="margin-top: 8px;" align="right">
						<input type="submit" class="btn btn-success" style="right: 0px;" value="Calculate">
						<a class="btn btn-primary" style="margin-right: 5px;" href="{% url 'attendance_manager:viewer' my_id=dont %}">Reset</a></div>
						</form>	
						</div>

						<form class="form-group" method="POST">
						{% csrf_token %}
						<label for="id_percentage">Percentage:</label>
						{{ form1.percentage }}
						
						<input class="btn btn-primary" style="float: right;margin-top: 8px;" type="submit" value="Send">
						</form>	
					                    
                
                  </div>
                </div>
              </div>

              <div class="col-lg-12 mb-4">
 			
                <div class="card">
                  
                  <div class="card-body">
                  	<div style="overflow-x:auto;">
			<td id="nopad">
				<table border="1" cellpadding="0" >
					<tr>
						<th colspan="3">Date</th>
						<th rowspan="2">Attendance</th>
						{% for lect in model %}
						<th rowspan="2"><a href="{% url 'app1:attendance_day' my_id=lect.id %}">{{lect.date}}</a></th>
						{% endfor %}
					</tr>
					<tr>
						<th style="background-color: white;">roll</th>
						<th style="background-color: white;">students</th>
					</tr>
					
					<tr id="nopad">

						<td id="nopad">
							<table>
									{% for student in stud %}<tr id="nopad"><th>{{student.roll}}</th></tr>{% endfor %}
							</table>
						</td>

						<td id="nopad" colspan="2" style="min-width: 150px">
							<table>
									{% for student in stud %}<tr id="nopad"><td>{{student.name}}</td></tr>{% endfor %}
							</table>
						</td>

						<td id="nopad">
							<table>
									{% for tend in cal %}<tr id="nopad"><td>{{tend}}%</td></tr>{% endfor %}
							</table>
						</td>
						
						{% for stud in presenty %}
						<td id="nopad">
							<table border="0">
								{% for stat in stud %}
								<tr id="nopad">
									<td>{{stat}}</td>
								</tr>
								{% endfor %}
							</table>
						</td>
						{% endfor %}

					</tr>
				</table>
			</div>
		
                  </div>
                </div>

              </div>



          </div></section></div>



   
{% endblock %}