{% extends "base.html" %}

{% block content %}


<div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            <div class="row">
              <div class="col-lg-12 mb-4">
 			
                <div class="card"> 

                  <div class="card-header">
                    <h2 class="h6 mb-0 text-uppercase">Quizes</h2>
                  </div>

                  <div class="card-body">
                    <p class="text-gray mb-5">Take your Quizzes.</p>
                    {% for q in quiz %}
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                      <div class="left d-flex align-items-center">
                        <!-- <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-dropbox"></i></div> -->
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span>{{q.quiz}}</span><span class="dot dot-sm ml-2 bg-blue"></span></h6><small class="text-gray">{{q.quiz.lecture}} <br>{{q.quiz.roll_out_time}} to {{q.quiz.stop_time}}</small>
                        </div>
                      </div>
                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                        <table style="border:0px;">
						              <tr><td><a href="{% url 'quizzes:quiz_trans' my_id=q.quiz.slug %}">Attempt</a></td></tr>
						            </table>
                      </div>
                    </div>
                    {% endfor %}
                    
                  </div>

                </div>

                

              </div>
              <div class="col-12">
                <div class="card"> 

                  <div class="card-header">
                    <h2 class="h6 mb-0 text-uppercase">Attempted</h2>
                  </div>

                  <div class="card-body">
                    <p class="text-gray mb-5">Completed Quizzes and expired Quizes</p>
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                      <div class="left d-flex align-items-center">
                        <!-- <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-dropbox"></i></div> -->
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span></span></h6><small class="text-gray"></small>
                        </div>
                      </div>
                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                        <table style="border:0px;">
						              <tr><td>Score</td></tr>
						            </table>
                      </div>
                    </div>
                    
                    {% for q in completed %}
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                      <div class="left d-flex align-items-center">
                        <!-- <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-dropbox"></i></div> -->
                        <div class="text">
                          <h6 class="mb-0 d-flex align-items-center"> <span>{{q.quiz}}</span><span class="dot dot-sm ml-2 bg-blue"></span></h6><small class="text-gray">{{q.quiz.lecture}}</small>
                        </div>
                      </div>
                      <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                        <table style="border:0px;">
						              <tr><td>{{q.score}}</td></tr>
						            </table>
                      </div>
                    </div>
                    {% endfor %}
                    
                  </div>

                </div>
              </div>
          </div>
      </section>
  </div>
</div>





	


{% endblock %}